body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #faeed7;
  }
  .navbar {
    background-color: #0e5b53;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
  }
  
  .img-logo {
    max-width: 50px; 
    width: 100%;
    height: auto;
  }

  .logo a {
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.5rem;
    color: #F2E9BD;
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
  }

  .nav-links {
    list-style: none;
    display: flex;         
    gap: 2rem;             
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #F2E9BD;
    font-weight:normal;
    font-size: 1rem;
    letter-spacing: 2px;
  }
  
  
  .hero {
    background-image: url("img/hero/fundo.png");
    background-size: cover;
    background-position: center;
    height: 100vh;;
  }

  .COWABUNGA {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
  }

  .top-title {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #EA580C;
    text-shadow: 5px 5px 0 #144E49;
    font-size: 7rem;
    letter-spacing: 6px;
    margin-top: 2vh ;
    margin-bottom: 0;
    line-height: 1;
  }
  
  .main-title {
    font-family: 'Pacifico', cursive;
    color: #EA580C;
    text-shadow: 4px 4px 0 #144E49;
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate(-8deg);
    text-decoration: underline;
  }
  
  .burgue-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  
  .logo-burgue {
    max-width: 300px; 
    width: 100%;
    height: auto;
    filter: drop-shadow(4px 4px 0 #144E49);
    display: block;
    margin: 0 auto;
  }
  
  .slogan{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Anton', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #144E49;
    font-size: 2rem;
    margin: 0;
  }

  /*destaques*/

   .destaques {
    background-image: url("img/hero/fDestaques.png");
    height: 100vh;;
  } 

    #Tdestaque{
    font-size: 3rem;
    padding-top: 3rem;
  }

  .carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    width: 100%;
}

.carrossel-wrapper{
  max-width: 60rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.carrossel {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 1rem 5rem;
  scroll-behavior: smooth;


}

.carrossel::-webkit-scrollbar {
  display: none; 
}

.card {
  background-color: #fefce8;
  color: #144E49;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 25rem;
  border: 4px solid #0f766e;


  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.2rem;   

  opacity: 0.5;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;

}

.card:hover {
  transform: scale(1.05); 
  opacity: 1;
}

.card img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 3px solid #ea580c;
}

.card h3 {
  font-family: 'Anton', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ea580c;
  margin: 0.5rem 0;
  letter-spacing: 2px;
}

.card p {
  font-size: 1rem;
  line-height: 1.4;
  color: #144E49;
}

.adicionar {
  background-color: #f97316;
  border: 2px solid #0f766e;
  color: white;
  padding: 0.5rem 1.2rem;
  margin-top: 1rem;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #facc15;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 2;
  color: #0e5b53;
}

.seta.esquerda {
  left: 0;
}

.seta.direita {
  right: 0;
}